<div class="row">
    <div class="col-md-6">
        <h1>Recover Password</h1>
        <form [formGroup]="recoverForm" (ngSubmit)="btnSubmitHandler()">
            <div class="form-group">
                <label class="control-label">Enter email ID:</label>
                <input type="email" formControlName="emailId" class="form-control" required>
                <div *ngIf="recoverForm.invalid && isSubmitted">
                    <div class="alert alert-danger">
                        Please enter a valid email.
                    </div>
                </div>
                <div *ngIf="recoverForm.valid && isSubmitted">
                    <div class="alert alert-success">
                        Email valid.
                    </div>
                </div>
                
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Recover Password</button>
                <i>&nbsp;</i>
                <button type="reset" class="btn btn-warning">Cancel</button>
            </div>
            
        </form>
    </div>
</div>